<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share2Teach</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="landing.html" class="logo"><img src="logo.jpg" alt="NWU LOGO" width="25%" align="left"></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Explore</a>
                    <ul class="dropdown-menu">
                        <li><a href="account creation.html">Account creation</a></li>
                        <li><a href="password reset.html">Password Reset</a></li>
                        <li><a href="subject view.html">Subject View </a></li>
                        <li><a href="Search.html">Search</a></li>
                        <li><a href="Contribute.html">Contribute </a></li>
                        <li><a href="page5.html">useful OER's</a></li>
                        <li><a href="Contribute.html">Contributors</a></li>
                        <li><a href="page7.html">Self-Directed Learning</a></li>
                        <li><a href="page8.html">Moderate</a></li>
                        <li><a href="page11.html">Analytics</a></li>
                        <li><a href="page12.html">FAQ</a></li>
                        <li><a href="page13.html">User Management</a></li>
                        <li><a href="About us.html">About us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="regbox">
            <h1>Contribute new Documents</h1>
            <div class="subbox">
                <form>
                    <!-- File input field -->
                    <input type="file" id="document-upload" accept=".pdf, .docx, .doc">

                    <!-- Display document name -->
                    <p id="document-name"></p>

                    <!-- Progress bar (optional) -->
                    <progress id="progress-bar" value="0" max="100" align="centre"></progress>
                    
                    <div class="buttons">
                        
                         <!-- Button to save file -->
                        <button id="save-btn">Save</button>
                        <button type="submit">Search</button>
                        
                    </div>

                </form>
            </div>
        </div>

    </main>
    <footer>
        <p>&copy; 2024 Share 2 Teach</p>
    </footer>
</body>
</html>