<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share2Teach</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="landing.html" class="logo"><img src="logo.jpg" alt="NWU LOGO" width="25%" align="left"></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Explore</a>
                    <ul class="dropdown-menu">
                        <li><a href="account creation.html">Account creation</a></li>
                        <li><a href="password reset.html">Password Reset</a></li>
                        <li><a href="subject view.html">Subject View </a></li>
                        <li><a href="Search.html">Search</a></li>
                        <li><a href="Contribute.html">Contribute </a></li>
                        <li><a href="Other usefull OER's.html">useful OER's</a></li>
                        <li><a href="Contributors.html">Contributors</a></li>
                        <li><a href="Self-Directed Learning.html">Self-Directed Learning</a></li>
                        <li><a href="Moderate.html">Moderate</a></li>
                        <li><a href="Analytics.html">Analytics</a></li>
                        <li><a href="FAQ.html">FAQ</a></li>
                        <li><a href="User Management.html">User Management</a></li>
                        <li><a href="About us.html">About us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="regbox">
            <h1>Contributors to this Project:</h1>
            <div class="subbox">
                <form>
                    <ul>
                        <li><p>Hein Du Plessis</p></li>
                        <li><p>Coenri Van Rooyen</p></li>
                        <li><p>Lohard Janse Van Rensburg</p></li>
                        <li><p>Salim Sofinia</p></li>
                    </ul>
                </form>
            </div>
        </div>

    </main>
    <footer>
        <p>&copy; 2024 Share 2 Teach</p>
    </footer>
</body>
</html>