<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>FAQ</title>
  </head>
  <body>
    <h1>FAQ PAGE</h1>
    <form action="/faq" method="POST">
      <div>
        <label for="faqsearch">Search for a FAQ:</label>
        <input
          type="text"
          name="faqsearch"
          id="faqsearch"
          placeholder="faqsearch"
        />
      </div>
      <button>Search</button>
    </form>
  </body>
</html>
