<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share2Teach</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="landing.html" class="logo"><img src="logo.jpg" alt="NWU LOGO" width="25%" align="left"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="regbox">
            <h1>Search for documents</h1>
            <div class="subbox">
                <form>
                    <div class="buttons">
                        <button type="submit">Search</button>

                        <button type="reset">cancel</button>
                    </div>
                </form>
            </div>
        </div>

    </main>
    <footer>
        <p>&copy; 2024 Share 2 Teach</p>
    </footer>
</body>
</html>