<!DOCTYPE html>
<script src="document_upload.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share2Teach</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body onload="retrieveDocuments(); displayDocuments()">
    <header>
        <nav>
            <ul>
                <li><a href="landing.html" class="logo"><img src="logo.jpg" alt="NWU LOGO" width="25%" align="left"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="regbox">
            <h1>Search for documents</h1>
            <div class="subbox">
                <form>
                    <div class="buttons">
                        <button  type="button" onclick= searchDocuments()>Search</button>
                        <button type="button" onclick="location.href='landing.html'">Cancel</button>
                        
                    </div>
                    <h2>Available Documents:</h2><br>
                        <div id="document-list"></div>
                </form>
            </div>
        </div>

    </main>
    <footer>
        <p>&copy; 2024 Share 2 Teach</p>
    </footer>
</body>
</html>