/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #2c2f3f; /* Dark futuristic backdrop */
}

a {
  text-decoration: none;
  color: #fff; /* Changed text color to white */
}

a:hover {
  color: #7a04fa; /* Brighter neon purple */
}

/* Header Styles */

header {
  background-color: #23252e;
  padding: 1em;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  color: #fff; /* Changed text color to white */
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  margin-right: 20px;
  transition: all 0.3s ease;
}

header nav ul li:hover {
  transform: scale(1.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  color: #8a0ffb; /* Neon purple */
}

.dropdown {
  position: relative;
  color: #fff; /* Changed text color to white */
}

.dropdown-toggle {
  padding: 15px 20px;
  margin-top: 5px;
  background-color: #8a0ffb; /* Neon purple */
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropdown-toggle:hover {
  background-color: #7a04fa; /* Brighter neon purple */
  color: #fff; /* Changed text color to white */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #23252e;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1001;
  overflow-y: auto;
  max-height: 500px; /* Optional: Set a maximum height */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.dropdown-menu li {
  margin-bottom: 10px;
  transition: all 0.3s ease;
  width: 100%;
}

.dropdown-menu li:hover {
  background-color: #333;
  color: #fff;
}

.dropdown-menu li a {
  padding: 10px;
  display: block;
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  content: "\25BC"; /* Unicode for downward triangle */
  font-size: 12px;
  margin-left: 5px;
}
/*appearance of scrollbar*/
.dropdown-menu::-webkit-scrollbar {
  width: 8px; /* Vertical scrollbar width */
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #8a0ffb; /* Neon purple */
  border-radius: 5px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background-color: #333; /* Dark background */
}
/* Typography */

main h1,
section h1 {
  font-size: 48px;
  font-weight: bold;
  color: #8a0ffb; /* Neon purple */
}

main p,
section p {
  font-size: 18px;
  color: #ccc;
}

/* Layout */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  padding: 2em;
  text-align: center;
  padding-top: 50px;
}

/* Footer Styles */

footer {
  background-color: #23252e;
  padding: 1em;
  text-align: center;
  clear: both;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #666;
}

/* Additional Styles */

.button {
  background-color: #8a0ffb; /* Neon purple */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #7a04fa; /* Brighter neon purple */
}

.input-field {
  width: 250px;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}
/* Box Styles */

.box {
  width: 500px;
  padding: 20px;
  background-color: #23252e;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  transition: all 0.3s ease;
 
}

.box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.subbox {
  max-width: 100%;
  padding: 20px;
  background-color: #23252e;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  /* Vertically flexible, with minimum height */
  min-height: 100px;
  height: auto; /* Expand to fit content */
  max-height: calc(100vh - 200px); /* Leave space for header & footer */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Adjust margins to maintain spacing */
  margin: 20px auto 20px;
  
  transition: all 0.3s ease;
  
  /* Handle overflow */
  overflow-y: auto;
}

.subbox::-webkit-scrollbar {
  width: 8px; /* Vertical scrollbar width */
}

.subbox::-webkit-scrollbar-thumb {
  background-color: #8a0ffb; /* Neon purple */
  border-radius: 5px;
}

.subbox::-webkit-scrollbar-track {
  background-color: #333; /* Dark background */
}

.subbox:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* Form Styles */

label {
  display: inline-block;
  width: 150px;
  text-align: left;
  color: #8a0ffb; /* Neon purple */
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border-color: #8a0ffb; /* Neon purple */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Button Styles */

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  width: 45%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #8a0ffb; /* Neon purple */
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button:hover {
  background-color: #7a04fa; /* Darker neon purple */
}

/* Progress Bar Styles */

#document-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #8a0ffb; /* Neon purple */
}

#progress-bar {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  appearance: none;
  background-color: #333; /* Set background color for non-webkit browsers */
}

#progress-bar::-webkit-progress-bar {
  background-color: #333;
}

#progress-bar::-webkit-progress-value {
  background-color: #8a0ffb; /* Neon purple */
}

/* Add styles for non-webkit browsers (Firefox, Edge, etc.) */
#progress-bar::-moz-progress-bar {
  background-color: #8a0ffb; /* Neon purple */
}

#progress-bar::-ms-fill {
  background-color: #8a0ffb; /* Neon purple */
}
/* Popup Styles */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80vw;
  max-width: 600px;
  color: #fff;
  overflow-y: auto;
  max-height: 80vh;
  overflow-x: hidden;
  box-sizing: border-box;
  text-align: center;
}

/* Login/Logout Styles */

.hide-when-logged-out {
  display: none;
}

.logged-in .hide-when-logged-out {
  display: block;
}

.hide-when-not-admin {
  display: none;
}

.logged-in-as-admin .hide-when-not-admin {
  display: block;
}

/* Basic style for stars */
.star {
  font-size: 24px;
  cursor: pointer;
  color: gray; /* Default color for empty stars */
}

.static-star {
  font-size: 24px;
  cursor: default;
  color: gray; /* Default color for empty stars */
}

/* Filled stars */
.filled {
  color: gold;
}

/* Hover effect for stars */
.hover {
  color: gold;
}

.login-button,
.logout-button {
  margin: 0 auto;
  display: block;
  text-align: center;
}

/* Add styles for the datagrid */
.datagrid {
  border-collapse: collapse;
  width: 100%;
}

.datagrid th,
.datagrid td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.datagrid th {
  background-color: #3c1361;
}
